{% extends "duvidasemcasa/base.html" %}
{% block conteudo %}
<h1>Bem vindo!</h1>

<div id="intro">
    <p>Este é um espaço para alunos e professores do ISCTE partilharem duvidas, explicações e anúncios de eventos sem
        teremde passar pelo e-learning, secretariado, entre outros.</p>
    <p>Aqui poderás ficar a saber o que se passa nas outras escola e cursos desta Universidade,
    desde de que eles o partilhem.</p>
    <p>Poderás conviver com colegas que muitas vezes parecem ser de um outro universo.</p>
    <p>Só pedimos que te lembres que tanto alunos como professores têm acesso a este espaço.</p>
</div>
{% endblock %}