{% extends "duvidasemcasa/base.html" %}
{% block conteudo %}
    <h1>{{titulo_pagina}}</h1>
<div id="intro">
    <p>Somos alunos do 2º ano da Licenciatura de Engenharia Informatica do ISCTE.</p>
    <p>Numa das cadeira do 2º semestre (Programação em Rede) fomos desafiados a construir um site onde uma comunidade
        se podesse adaptar a ter de fazer as sua actividades à distância.</p>
    <p>Resolvemos criar um site para a comunidade do ISCTE se poder juntar e tirar dúvidas ou até apenas conviver num
        grupo mais geral do que os habitais grupos dedicados a um unico curso ou turma.</p>
</div>
{% endblock %}